/**
 * Footer
 */

.site-footer {
	@extend .clear;
	padding: 1.5em 0 1.5em 0;
	color: $color__gray;
	a {
		color: $color__gray-dark;
	}
}

.site-info {
	display: block;
	margin-bottom: 1.5em;
}

@media screen and ( min-width: $xs ) {
	.site-info {
		@include span( 5 last );
		text-align: right;
	}
}
