/**
 * Structure
 */

.wrap {
	@extend .clear;
	max-width: 100%;
	margin-right: auto;
	margin-left: auto;
	padding-right: 5%;
	padding-left: 5%;
	@media screen and ( min-width: $lg ) {
		max-width: 1128px;
	}
}

.site-content {
	@extend .wrap;
}

.content-area {
	width: 100%;
	@media screen and ( min-width: $md ) {
		@include span( 9 );
		max-width: span( 9 );
		.no-sidebar & {
			width: 100%;
			max-width: 100%;
			margin-right: 0;
		}
	}
}

.widget-area {
	@include with-layout( $susy-static ) {
		max-width: span( 6 );
	}
	width: 100%;
	margin: 0 auto;
	@media screen and ( min-width: $md ) {
		@include span( 3 last );
	}
}
