/**
 * Structure
 */

.wrap {
	@extend .clear;
	max-width: 100%;
	margin-right: auto;
	margin-left: auto;
	padding-right: 5%;
	padding-left: 5%;
	@media screen and ( min-width: $lg ) {
		max-width: 1128px
	}
}

.site-content {
	@extend .wrap;
	padding-top: 1.5em;
	@media screen and ( min-width: $sm) {
		padding-top: 3em;
	}
}

.content-area,
.widget-area {
	@include span( 12 );
}

@media screen and ( min-width: $sm ) {
	.content-area {
		@include span( 9 );
	}
	.widget-area {
		@include span( 3 last );
	}
}