// Basics.
.tp-theme-info {
	position: relative;
	max-width: 1050px;
	margin: 25px 20px 0 10px;
	font-size: 15px;
	@media screen and ( min-width: 501px ) {
		margin-right: 40px;
		margin-left: 20px;
	}
	img {
		display: block;
		max-width: 100%;
		height: auto;
	}
	p {
		font-size: 14px;
		line-height: 1.6em;
	}
	h1 {
		font-size: 2.8em;
	}
}

// Two-column system.
.tp-two-col {
	.tp-col {
		display: inline-block;
		@media screen and ( min-width: 601px ) {
			float: none;
			width: calc(47.6% - 4px);
			margin-right: 4.799999999%;
			vertical-align: top;
			&:nth-of-type(2n) {
				margin-right: 0;
			}
		}
	}
}

// Theme intro.
.tp-theme-intro {
	@media screen and ( min-width: 501px ) {
		padding-top: 5px;
	}
	@media screen and ( min-width: 783px ) {
		padding-top: 15px;
	}
	.tp-col {
		margin-bottom: 1em;
		@media screen and ( min-width: 501px ) {
			margin-bottom: 20px;
		}
		@media screen and ( min-width: 783px ) {
			margin-bottom: 40px;
		}
		@media screen and ( min-width: 961px ) {
			vertical-align: middle;
		}
	}
}

.tp-theme-screenshot {
	box-sizing: border-box;
	border: 1px solid #dedede;
	box-shadow: 0 1px 1px -1px rgba(0,0,0,0.1);
}


.theme-info-sidebar {
	@media screen and ( min-width: 783px ) {
		float: right;
		width: 30%;
		min-width: 30%;
	}
	.card {
		min-width: auto;
	}
}

.tab-content {
	@media screen and ( min-width: 783px ) {
		float: left;
		box-sizing: border-box;
		width: 70%;
		&.card {
			max-width: 63%;
			max-width: calc( 70% - 40px );
			margin-top: 40px;
		}
	}
	hr {
		margin: 1em 0;
	}
}

.tab-heading {
	margin: 25px 0 30px;
	font-size: 2.2em;
	font-weight: 300;
	line-height: 1.3;
}

.about-wrap h3.tp-col-heading {
	margin: 0.6em 0;
}

.welcome-screen-widget {
	margin-top: 40px;
}

.tp-theme-feature-buttons {
	display: inline-block;
	margin: 0.6em 0 1em;
}

// Tabs.
.tp-theme-info.wrap h2.nav-tab-wrapper {
	padding: 0;
}

h2.tp-nav-tab-wrapper .nav-tab {
	@media screen and ( max-width: 600px ) {
		margin: 0 -1px -1px;
	}
}

.nav-tab-pro:not( .nav-tab-active ) {
	border-color: #0085ba;
	color: #fff;
	background-color: #0085ba;
	&:hover {
		border-color: #ccc;
		color: #555;
		background-color: #fff;
	}
}

// Pro tab.
.tp-well {
	margin: 1em 0;
	padding: 1em;
	background-color: #f0f0f0;
	text-align: center;
}

.tp-well-message {
	color: #777;
	font-size: 19px;
	font-weight: 400;
	line-height: 1.6em;
	@media screen and ( min-width: 783px ) {
		max-width: 67%;
		margin: 1.2em auto 1.2em;
	}
}
