body {
	background-color: #fff;
}

fieldset {
	border-color: $color__text-light;
}

body {
	color: $color__text;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: $color__text;
}

a {
	color: $color__accent;
	background-color: transparent;
}



blockquote {
	border-top-color: $color__text;
	border-bottom-color: $color__text-secondary;
}

td,
th {
	border-bottom-color: $color__text-light;
}

thead th {
	border-bottom-color: $color__text-secondary;
	background-color: $color__text-light;
}

pre {
	background-color: $color__text-light;
}

mark,
ins {
	color: $color__text;
	background-color: $color__text-light;
}

input[type='text'],
input[type='email'],
input[type='url'],
input[type='password'],
input[type='search'],
textarea {
	border-color: $color__text-light;
	color: $color__text;
	background-color: #fff;
}

input[type='text']:focus,
input[type='email']:focus,
input[type='url']:focus,
input[type='password']:focus,
input[type='search']:focus,
textarea:focus {
	background-color: $color__text-light;
}

label {
	color: $color__text-secondary;
}

::-webkit-input-placeholder {
	color: $color__text-secondary;
}

:-moz-placeholder {
	color: $color__text-secondary;
}

::-moz-placeholder {
	color: $color__text-secondary;
}

input:-ms-input-placeholder {
	color: $color__text-secondary;
}

button,
.button,
input[type='button'],
input[type='reset'],
input[type='submit'],
.posts-navigation a,
.portfolio-navigation a {
	border-color: $color__text-secondary;
	color: $color__text;
	background-color: $color__text-secondary;
}



.posts-navigation a,
.portfolio-navigation a,
#infinite-handle button {
	border-color: $color__text-light;
	color: $color__text;
	background-color: transparent;
}

.posts-navigation a:hover,
.portfolio-navigation a:hover,
#infinite-handle button:hover,
.posts-navigation a:focus,
.portfolio-navigation a:focus,
#infinite-handle button:focus {
	background-color: $color__text-light;
}

input[type='submit'].search-submit {
	border-color: $color__accent;
	color: #fff;
	background-color: $color__accent;
}

hr {
	background-color: $color__text-light;
}

.wpcf7-mail-sent-ok {
	border-color: #1fc281;
	background-color: #a3f0d2;
}

.wpcf7-spam-blocked,
.wpcf7-validation-errors {
	border-color: #f4cc31;
	background-color: #fdf6da;
}

.wpcf7-mail-sent-ng,
.use-floating-validation-tip .wpcf7-not-valid-tip {
	border-color: #e83337;
	background-color: #fad3d4;
}

#content .wp-playlist-light {
	color: $color__text;
	background-color: transparent;
}

#content .wp-playlist-item {
	border-bottom-color: $color__text-light;
}

#content .wp-playlist-caption,
#content [class*='wp-playlist-item-'] {
	color: $color__text-secondary;
}

#content .wp-playlist-item-title {
	color: $color__text;
}

#content .wp-playlist-playing {
	border-bottom-color: $color__text-light;
	background-color: $color__text-light;
}

.wp-caption .wp-caption-text {
	color: $color__text-secondary;
}

.screen-reader-text:hover,
.comment-notes:hover,
.form-allowed-tags:hover,
.wpcf7 .screen-reader-response:hover,
.screen-reader-text:active,
.comment-notes:active,
.form-allowed-tags:active,
.wpcf7 .screen-reader-response:active,
.screen-reader-text:focus,
.comment-notes:focus,
.form-allowed-tags:focus,
.wpcf7 .screen-reader-response:focus {
	color: #21759b;
	background-color: $color__text-light;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
}

.site {
	background-color: #fff;
}

.site-title a {
	color: $color__text;
}

.site-description {
	color: $color__text-secondary;
}

.main-navigation a {
	color: $color__text;
}

.main-navigation a:hover,
.main-navigation a:focus,
.main-navigation a:active {
	color: $color__accent;
}

.menu-toggle {
	border-color: transparent;
	background-color: transparent;
}

.menu-toggle-icon {
	background-color: $color__text;
}

.menu-toggle-icon:before,
.menu-toggle-icon:after {
	background-color: $color__text;
}

.menu-toggle.toggled .menu-toggle-icon {
	background-color: transparent;
}

.menu-toggle.toggled .menu-toggle-icon:before,
.menu-toggle.toggled .menu-toggle-icon:after {
	background-color: $color__text;
}

.menu-social-container a {
	color: $color__text-secondary;
}

.menu-social-container a:before {
	color: $color__text-secondary;
}

.menu-social-container a[href*='behance.net']:hover,
.menu-social-container a[href*='behance.net']:hover:before {
	color: #1769ff;
}

.menu-social-container a[href*='bitbucket.org']:hover,
.menu-social-container a[href*='bitbucket.org']:hover:before {
	color: #205081;
}

.menu-social-container a[href*='deviantart.com']:hover,
.menu-social-container a[href*='deviantart.com']:hover:before {
	color: #ea4c89;
}

.menu-social-container a[href*='dribbble.com']:hover,
.menu-social-container a[href*='dribbble.com']:hover:before {
	color: #ea4c89;
}

.menu-social-container a[href*='facebook.com']:hover,
.menu-social-container a[href*='facebook.com']:hover:before {
	color: #3b5998;
}

.menu-social-container a[href*='foursquare.com']:hover,
.menu-social-container a[href*='foursquare.com']:hover:before {
	color: #25a0ca;
}

.menu-social-container a[href*='github.com']:hover,
.menu-social-container a[href*='github.com']:hover:before {
	color: #4183c4;
}

.menu-social-container a[href*='instagram.com']:hover,
.menu-social-container a[href*='instagram.com']:hover:before {
	color: #c08d64;
}

.menu-social-container a[href*='last.fm']:hover,
.menu-social-container a[href*='last.fm']:hover:before {
	color: #c3000d;
}

.menu-social-container a[href*='linkedin.com']:hover,
.menu-social-container a[href*='linkedin.com']:hover:before {
	color: #0e76a8;
}

.menu-social-container a[href*='pinterest.com']:hover,
.menu-social-container a[href*='pinterest.com']:hover:before {
	color: #c8232c;
}

.menu-social-container a[href*='soundcloud.com']:hover,
.menu-social-container a[href*='soundcloud.com']:hover:before {
	color: #f70;
}

.menu-social-container a[href*='spotify.com']:hover,
.menu-social-container a[href*='spotify.com']:hover:before {
	color: #81b71a;
}

.menu-social-container a[href*='stackoverflow.com']:hover,
.menu-social-container a[href*='stackoverflow.com']:hover:before {
	color: #fe7a15;
}

.menu-social-container a[href*='twitter.com']:hover,
.menu-social-container a[href*='twitter.com']:hover:before {
	color: #00a0d1;
}

.menu-social-container a[href*='vimeo.com']:hover,
.menu-social-container a[href*='vimeo.com']:hover:before {
	color: #86c9ef;
}

.menu-social-container a[href*='vine.co']:hover,
.menu-social-container a[href*='vine.co']:hover:before {
	color: #00bf8f;
}

.menu-social-container a[href*='vk.com']:hover,
.menu-social-container a[href*='vk.com']:hover:before {
	color: #45668e;
}

.menu-social-container a[href*='wordpress.com']:hover,
.menu-social-container a[href*='wordpress.com']:hover:before {
	color: #1e8cbe;
}

.menu-social-container a[href*='wordpress.org']:hover,
.menu-social-container a[href*='wordpress.org']:hover:before {
	color: #21759b;
}

.menu-social-container a[href*='youtube.com']:hover,
.menu-social-container a[href*='youtube.com']:hover:before {
	color: #c4302b;
}

.posts-navigation a:before,
.posts-navigation a:after {
	color: $color__text-light;
}

.blog .posts-navigation {
	border-top-color: $color__text-light;
}

.portfolio-navigation a:before,
.portfolio-navigation a:after {
	color: $color__text-light;
}

.entry-title a {
	color: $color__text;
}

.entry-meta-item a {
	color: $color__text-secondary;
}

.entry-meta-item a:hover,
.entry-meta-item a:focus {
	color: $color__accent;
}

.entry-meta-item.cat-links a {
	color: $color__accent;
}

.tags-links a {
	color: $color__text-secondary;
}

.tags-links a:hover,
.tags-links a:focus {
	color: $color__accent;
}

.project {
	background-color: $color__text-light;
}

.project.has-post-thumbnail {
	background-color: transparent;
}

.project-title a {
	color: $color__text;
}

.project-categories {
	color: $color__text-secondary;
}

.project-categories a {
	color: $color__text-secondary;
}

.gallery-item {
	border-color: transparent;
}

.gallery-caption,
.gallery-caption a {
	color: #fff;
}

.gallery-caption {
	background-color: rgba(0, 0, 0, 0.7);
}

.post-navigation span {
	color: $color__text-secondary;
}

.single-portfolio .project-meta-item-name,
.single-jetpack-portfolio .project-meta-item-name {
	color: $color__text-secondary;
}

.search .entry-title a {
	color: $color__text;
}

.comment-list {
	border-top-color: $color__text-light;
}

.comment-body {
	border-bottom-color: $color__text-light;
}

.pingback .comment-body {
	background-color: $color__text-light;
}

.author-name span {
	color: $color__text-secondary;
}

.comment-awaiting-moderation {
	color: $color__text-secondary;
}

.comment-reply-title small a {
	color: #e83337;
}

.required {
	color: #e83337;
}

.comment-form .submit {
	border-color: $color__accent;
	color: #fff;
	background-color: $color__accent;
}

.comment-navigation .nav-pages {
	color: $color__text-secondary;
}

.comment-navigation .nav-previous a:before,
.comment-navigation .nav-next a:after {
	color: $color__text-secondary;
}

.widget a {
	color: $color__text-secondary;
}

.widget a:hover,
.widget a:active,
.widget a:focus {
	color: $color__accent;
}

.widget_calendar caption {
	color: #fff;
	background-color: $color__text-secondary;
}

.widget.widget_recent_comments li,
.widget.widget_recent_entries li {
	border-bottom-color: $color__text-light;
}

.widget_rss .widget-title a {
	color: $color__text;
}

.widget_rss li {
	border-bottom-color: $color__text-light;
}

.widget_rss cite {
	color: $color__text-secondary;
}

.widget_rss .rss-date {
	color: $color__text-secondary;
}

.site-footer {
	color: $color__text-secondary;
}

input[type='submit'].wpcf7-submit {
	border-color: $color__accent;
	color: #fff;
	background-color: $color__accent;
}

.wpcf7-not-valid-tip {
	color: #e83337;
}

.wpcf7 .placeheld {
	color: $color__text-secondary;
}

@media screen and (min-width: 768px) {
	.main-navigation ul ul {
		background-color: #fff;
		box-shadow: 0 2px 25px 3px rgba(0, 0, 0, 0.1);
	}

	.main-navigation ul ul li {
		box-shadow: 0 13px 0 -12px rgba(0, 0, 0, 0.05);
	}
}
