body,
h1,
h2,
h3,
h4,
h5,
h6,
mark,
ins,
input[type='text'],
input[type='email'],
input[type='url'],
input[type='password'],
input[type='search'],
textarea,
button,
.button,
input[type='button'],
input[type='reset'],
input[type='submit'],
.posts-navigation a,
.portfolio-navigation a,
.posts-navigation a,
.portfolio-navigation a,
#infinite-handle button,
#content .wp-playlist-light,
#content .wp-playlist-item-title,
.site-title a,
.main-navigation a,
.entry-title a,
.project-title a,
.search .entry-title a,
.widget_rss .widget-title a {
	color: #585858;
}

blockquote {
	border-top-color: #585858;
}

.menu-toggle-icon,
.menu-toggle-icon:before,
.menu-toggle-icon:after,
.menu-toggle.toggled .menu-toggle-icon:before,
.menu-toggle.toggled .menu-toggle-icon:after {
	background-color: #585858;
}
