/* Blockquotes */

blockquote {
	@include font-size( 1.5 );
	margin: 1.5rem;
	color: $color__headings;
	font-family: $font__blockquote;
	font-style: italic;
	line-height: 1.125;
	quotes: '' '';
	@media screen and ( min-width: $sm ) {
		margin: 3rem;
	}
	&:before,
	&:after {
		content: '';
	}
	p {
		margin: 0;
	}
	cite {
		@include font-size( 0.625 );
		@include line-height( 1.5 );
		display: block;
		margin: 0 0 -1.2em 0;
		font-family: $font__main;
		font-style: normal;
		letter-spacing: 2px;
		text-transform: uppercase;
	}
}
