/* Blockquotes */

blockquote {
	@include font-size( 1.125 );
	@include line-height( 1.5 );
	margin: 0 0 1.3333333333em 0;
	padding: 1.3333333333em 0;
	border-top-color: $color__text;
	border-bottom-color: $color__text-secondary;
	font-family: $font__blockquote;
	font-style: italic;
	quotes: '' '';
	&:before,
	&:after {
		content: '';
	}
	p {
		margin: 0;
	}
	cite {
		@include font-size( 0.625 );
		@include line-height( 1.5 );
		display: block;
		margin: 0 0 -1.2em 0;
		font-family: $font__main;
		font-style: normal;
		letter-spacing: ( 1em / 16 );
		text-transform: uppercase;
	}
	&.alignleft {
		width: 50%;
	}
	&.alignright {
		width: 50%;
	}
}
