/* Code */

pre {
	overflow: auto;
	max-width: 100%;
	margin: 2em 0;
	padding: 1.5em;
	color: #f0f0f0;
	background-color: $color__headings;
	font-family: $font__code;
	font-weight: bold;
	word-wrap: initial;
}

code,
kbd,
samp,
tt,
var {
	padding: 3px 5px;
	border-radius: 3px;
	background-color: rgba(0, 0, 0, 0.05);
	font-family: $font__code;
	white-space: nowrap;
}
