/* Copy */

p {
	margin: 0 0 1.5em;
}

em,
i {
	@extend dfn;
}

address {
	margin: 0 0 1.5em;
}

acronym {
	@extend abbr[title];
}

ins {
	@extend mark;
}

big {
	font-size: 1.25em;
	@include line-height( 1 );
}
