/* Headings */

h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
	margin-top: 0;
	margin-bottom: 1.5rem;
	color: $color__headings;
	font-weight: bold;
	line-height: 1.125;
}

h1 {
	font-size: 1.5em;
	@media screen and ( min-width: $sm ) {
		font-size: 1.75em;
	}
}

h2 {
	font-size: 1.25em;
}

h3 {
	font-size: 1.25em;
	font-weight: normal;
}

h4 {
	font-size: 0.875em;
	letter-spacing: 3px;
	text-transform: uppercase;
}

h5 {
	font-size: 0.875em;
	font-weight: normal;
	letter-spacing: 2px;
	text-transform: uppercase;
}

h6 {
	font-size: 1em;
	font-weight: bold;
}

.entry-content,
.comment-content {
	h1,
	h2 {
		margin-top: 3rem;
	}

	h3,
	h4,
	h5,
	h6 {
		margin-top: 2rem;
		margin-bottom: 13.5px;
		margin-bottom: 0.75rem;
	}
}
