/* Headings */

h1,
h2,
h3,
h4,
h5,
h6 {
	@include line-height( 1.5 );
	clear: both;
	margin: 0 0 ( $font__size-body-px * $font__line-height-body ) 0; // Can't wait to remove this. Bleh!
	margin: 0 0 1.5rem 0;
	color: $color__text;
	font-family: $font__headings;
	font-weight: bold;
}

h1 {
	@include font-size( 1.5 ); // 24
}

h2 {
	@include font-size( 1.25 );  // 20
}

h3 {
	@include font-size( 1.125 ); // 18
}

h4 {
	@include font-size( 1.125 ); // 18
	font-weight: normal;
}

h5 {
	@include font-size( 0.875 ); // 14
	letter-spacing: 2px;
	text-transform: uppercase;
	margin-bottom: 0.75em
}

h6 {
	@include font-size( 0.875 ); // 14
	letter-spacing: 2px;
	text-transform: uppercase;
	font-weight: normal;
	margin-bottom: 0.75em
}
