/* Tables */

table {
	width: 100%;
	margin-top: 2em;
	margin-bottom: 2em;
	padding: 0;
}

td, th {
	padding: 0.75em;
	border-bottom: 1px solid $color__gray;
	text-align: left;
}

thead th {
	@include font-size( 0.75 );
	@include line-height( 1.5 );
	padding: 1em;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 2px;
	background-color: $color__gray;
}
