/* Code */

pre {
	overflow: auto;
	max-width: 100%;
	margin-bottom: 1.6em;
	padding: 1.6em;
	background-color: $color__text-light;
	font-family: $font__pre;
	line-height: $font__line-height-pre;
	word-wrap: initial;
}

code,
kbd,
pre,
samp,
tt,
var {
	@include font-size( 0.9375 );
	font-family: $font__code;
}
