/* Primary Text Color */

%color__text-primary {
	color: $color__text;
}

%color__text-primary-background {
	background-color: $color__text;
}

%color__text-primary-border-color {
	border-color: $color__text;
}