/* Primary Text Color */

%color__text {
	color: $color__text;
}

%color__text-bg {
	background-color: $color__text;
}

%color__text-bc {
	border-color: $color__text;
}

%color__text-btc {
	border-top-color: $color__text;
}

%color__text-bcr {
	border-right-color: $color__text;
}

%color__text-bcb {
	border-bottom-color: $color__text;
}