/* Secondary Text Color */

%color__text-secondary {
	color: $color__text-secondary;
}

%color__text-secondary-background {
	background-color: $color__text-secondary;
}

%color__text-secondary-border-color {
	border-color: $color__text-secondary;
}