/* Entry Content */

.entry-content,
.entry-summary {
	word-wrap: break-word;
	hyphens: auto;
}

.entry-content {
	@extend .clear;
	@include with-layout( $susy-static ) {
		max-width: span( 6 );
	}
	margin: 0 auto;
	@media screen and ( min-width: $sm ) {
		float: right;
		width: span( 9 );
		max-width: 100%;
		margin: 0;
		padding-right: span( 2 wide );
	}
	@media screen and ( min-width: $md ) {
		width: span( 6 of 9 );
		padding-right: 0;
	}
}

.no-sidebar .entry-content {
	@media screen and ( min-width: $md ) {
		width: span( 9 of 12 );
		padding-right: span( 3 of 12 wide );
	}
}

.page-single-item .entry-content {
	@include with-layout( $susy-static ) {
		max-width: span( 6 );
	}
	margin: 0;
	@media screen and ( min-width: $sm ) {
		float: left;
		width: 100%;
		padding-right: 0;
	}
}
