/* Page Header */

.page-header {
	@extend .clear;
	@include with-layout( $susy-static ) {
		max-width: span( 6 );
	}
	margin: 0 auto 1.5em;
	@media screen and ( min-width: $md ) {
		max-width: 100%;
		margin-left: 0;
	}
}