// Colors. ------------------------------------------------------------------ //

// Basic Text Colors.
$color__text:     #585858;
$color__headings: #1e1e1e; // r:30 g:30 b:30
$color__gray:     lighten( $color__text, 60% );

// Opacity.
$opacity: 0.5;
$opacity-light: 0.1;

// Body.
$color__background-body: #fff;

// Theme Accent Color.
$color__accent: #ff2441;

// State colors.
$color__success: #1fc281;
$color__info:    #00b9f2;
$color__warning: #f4cc31;
$color__danger:  #e83337;

// Layout. ------------------------------------------------------------------ //

// Breakpoints.
$xs: 415px;  // Phones bigger than iPhone 6 plus.
$sm: 768px;  // iPad (vertical).
$md: 1024px; // Small Desktops, iPad (horizontal) and bigger.
$lg: 1140px; // Desktops.

// Susy.
$susy: (
	columns: 12,
	gutters: 36/50,
	math: fluid,
	output: float,
	gutter-position: after
);

$susy-static: (
	columns: 12,
	column-width: 50px,
	gutters: 36/50,
	math: static,
	output: float,
	gutter-position: after,
);

// Typography. -------------------------------------------------------------- //

$font__main:             Helvetica, Arial, sans-serif;
$font__headings:         $font__main;
$font__code:             Courier, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__blockquote:       Georgia, "Times New Roman", Times, serif;
$font__size-body:        16;
$font__size-body-px:     $font__size-body * 1px;
$font__line-height-body: 1.5;

// Social icons. ------------------------------------------------------------ //

$social-icons:(
	'behance.net':       ( 'e804', #1769FF ),
	'bitbucket.org':     ( 'e800', #205081 ),
	'codepen.io':        ( 'e805' ),
	'delicious.com':     ( 'e808' ),
	'deviantart.com':    ( 'e809', #ea4c89 ),
	'dribbble.com':      ( 'e80a', #ea4c89 ),
	'facebook.com':      ( 'e80b', #3b5998 ),
	'flickr.com':        ( 'e80c' ),
	'foursquare.com':    ( 'e80d', #25a0ca ),
	'github.com':        ( 'e806', #4183c4 ),
	'instagram.com':     ( 'e810', #c08d64 ),
	'last.fm':           ( 'e811', #c3000d ),
	'linkedin.com':      ( 'e812', #0e76a8 ),
	'pinterest.com':     ( 'e814', #c8232c ),
	'slack.com':         ( 'e81c' ),
	'slideshare.com':    ( 'e81b' ),
	'soundcloud.com':    ( 'e81a', #ff7700 ),
	'spotify.com':       ( 'e819', #81b71a ),
	'stackexchange.com': ( 'e818' ),
	'stackoverflow.com': ( 'e817', #fe7a15 ),
	'tumblr.com':        ( 'e80e', #26475c ),
	'twitter.com':       ( 'e813', #00a0d1 ),
	'vimeo.com':         ( 'e820', #86c9ef ),
	'vine.co':           ( 'e821', #00bf8f ),
	'vk.com':            ( 'e822', #45668e ),
	'wordpress.com':     ( 'e823', #1e8cbe ),
	'wordpress.org':     ( 'e823', #21759b ),
	'youtube.com':       ( 'e825', #c4302b )
);
