/* Centered */

.page-template-centered,
.page-template-blog-archives {
	.hentry {
		@extend .clear;
		@media screen and ( min-width: $md ) {
			margin-bottom: 1.5em;
		}
	}
	.content-area {
		@extend .clear;
		float: none;
		width: 100%;
		max-width: 100%;
		margin: 0 auto;
		padding: 0;
	}
	.entry-header,
	.entry-content,
	.comments-area {
		@extend .clear;
		@include with-layout( $susy-static ) {
			max-width: span( 6 );
		}
		width: 100%;
		margin: 0 auto;
	}
}
