/* Fullwidth */

.page-template-fullwidth {
	.hentry {
		@media screen and ( min-width: $md ) {
			margin-bottom: 1.5em;
		}
	}
	.content-area {
		width: 100%;
		max-width: 100%;
		float: none;
		margin-right: 0;
	}
	.entry-header,
	.entry-content {
		width: 100%;
		max-width: 100%;
	}

	.comments-area {
		@include with-layout( $susy-static ) {
			max-width: span( 6 );
		}
	}
}
