// Basic Text Colors.
$color__text:           #585858;
$color__text-secondary: lighten( $color__text, 30% );
$color__text-light:     lighten( $color__text, 60% );

// Body.
$color__background-body: #fff;

// Theme Accent Color.
$color__accent: #ff2441;

// Links.
$color__link:         $color__accent;
$color__link-visited: $color__accent;
$color__link-hover:   $color__accent;

// Accessibility.
$color__text-screen:       #21759b;
$color__background-screen: #f1f1f1;

// State colors.
$color__success: #1fc281;
$color__info:    #00b9f2;
$color__warning: #f4cc31;
$color__danger:  #e83337;

// Button.
$color__button: (
	text:             $color__text,
	border:           $color__text-light,
	background:       transparent,
	hover_background: $color__text-light
);

// Button Accent.
$color__button-accent: (
	text:             #fff,
	border:           $color__accent,
	background:       $color__accent,
	hover_background: lighten( $color__accent, 7% ),
);

// Button Success.
$color__button-success: (
	text:       #fff,
	border:     $color__success,
	background: $color__success,
);

// Button Info.
$color__button-info: (
	text:       #fff,
	border:     $color__info,
	background: $color__info,
);

// Button Warning.
$color__button-warning: (
	text:       #fff,
	border:     $color__warning,
	background: $color__warning,
);

// Button Danger.
$color__button-danger: (
	text:       #fff,
	border:     $color__danger,
	background: $color__danger,
);
