// Text.
$color__text-primary:   #585858;
$color__text-secondary: lighten( $color__text-primary, 30% );

// Headings.
$color__headings: $color__text-primary;

// Body.
$color__background-body: #fff;

// Theme Accent Color.
$color__accent: #ff2441;

// Gray.
$color__gray-light: lighten( $color__text-primary, 60% );

// State colors.
$color__success: #1fc281;
$color__info:    #00b9f2;
$color__warning: #f4cc31;
$color__danger:  #e83337;

// Links.
$color__link:         $color__accent;
$color__link-visited: $color__accent;
$color__link-hover:   $color__accent;

// Accessibility.
$color__text-screen:       #21759b;
$color__background-screen: #f1f1f1;

// Elements.
$color__border-abbr:    $color__text-secondary;
$color__background-hr:  $color__gray-light;
$color__background-pre: $color__gray-light;
$color__background-ins: $color__gray-light;

//Forms.
$color__forms: (
	text:             $color__text-primary,
	border:           $color__gray-light,
	background:       #fff,
	focus_background: $color__gray-light,
	placeholder:      $color__text-secondary
);

// Button Default.
$color__button: (
	text:       $color__text-primary,
	border:     $color__text-secondary,
	background: $color__text-secondary,
);

// Button Border.
$color__button-border: (
	text:             $color__text-primary,
	border:           $color__gray-light,
	background:       transparent,
	hover_background: $color__gray-light
);

// Button Accent.
$color__button-accent: (
	text:       #fff,
	border:     $color__accent,
	background: $color__accent,
);

// Button Success.
$color__button-success: (
	text:       #fff,
	border:     $color__success,
	background: $color__success,
);

// Button Info.
$color__button-info: (
	text:       #fff,
	border:     $color__info,
	background: $color__info,
);

// Button Warning.
$color__button-warning: (
	text:       #fff,
	border:     $color__warning,
	background: $color__warning,
);

// Button Danger.
$color__button-danger: (
	text:       #fff,
	border:     $color__danger,
	background: $color__danger,
);
