// Breakpoints.
$xs: 415px;  // Phablets bigger than iPhone 6 plus.
$sm: 768px;  // iPad (vertical).
$md: 1024px; // Small Desktops, iPad (horizontal) and bigger.
$lg: 1128px; // Desktops.

// Susy Mobile (Default).
$susy: (
	columns: 12,
	gutters: 36/49,
	math: fluid,
	output: float,
	gutter-position: after
);

$susy-static: (
	columns: 12,
	column-width: 49px,
	gutters: 36/49,
	math: static,
	output: float,
	gutter-position: after,
);
