$font__main:             'Roboto', Helvetica, Arial, sans-serif;
$font__headings:         $font__main;
$font__code:             Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__blockquote:       $font__main;
$font__pre:              "Courier 10 Pitch", Courier, monospace;
$font__size-body:        16;
$font__size-body-px:     $font__size-body * 1px;
$font__line-height-body: 1.5;
$font__line-height-pre:  1.6;