/* Galleries. Editor modification */

// Gray background that appears when user clicks on a gallery.
.wpview-wrap[data-wpview-type='gallery'] {
	display: inline-block;
	width: auto;
	margin-bottom: 1.5em;
}

.gallery {
	margin: 0;
	padding: 0;
	.gallery-item {
		box-sizing: border-box;
		line-height: 1.5;
		padding: 0;
		text-align: left;
	}
	.gallery-caption {
		box-sizing: border-box;
		margin: 0;
		font-size: 12px;
	}
}

.gallery:after {
	@include clearfix-after;
}
