/* Tables. Editor modifications */

.mce-item-table,
.mce-item-table td,
.mce-item-table th,
.mce-item-table caption {
	border: none;
	border-spacing: 0;
}

.mce-item-table td,
.mce-item-table th {
	border-bottom: 1px solid;
	border-bottom-color: $color__gray;
}
