/* Alignments */

.alignleft {
	float: left;
}

.alignright {
	float: right;
}

.aligncenter {
	@include center-block;
}

blockquote,
img,
.wp-caption {
	&.alignleft {
		margin: 0.5em 1.5em 0.5em 0;
	}
	&.alignright {
		margin: 0.5em 0 0.5em 1.5em;
	}
}
