/* Alignments */

.alignleft {
	float: left;
}

.alignright {
	float: right;
}

.aligncenter {
	@include center-block;
}

blockquote,
img,
.wp-caption {
	&.alignleft {
		margin: 8px 24px 8px 0;
		margin: 0.5rem 1.5rem 0.5rem 0;
	}
	&.alignright {
		margin: 8px 0 0.5rem 1.5rem;
		margin: 0.5rem 0 0.5rem 1.5rem;
	}
}

blockquote {
	&.alignleft {
		margin: 0 1.5em em_minus_px( 1em, 1px ) 0;
	}
	&.alignright {
		margin: 0 0 em_minus_px( 1em, 1px ) 1.5em;
	}
}
