/* Buttons */

@mixin button-core {
	display: inline-block;
	margin: 0;
	-webkit-appearance: none;
	background-image: none;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	text-decoration: none;
	cursor: pointer;
	// touch-action: manipulation;
	&:hover,
	&:focus {
		text-decoration: none;
	}
	&:active {
		outline: 0;
	}
	&:focus {
		@include focus;
	}
}

@mixin button-color( $colors ) {
	border-color: map-get( $colors, border );
	color: map-get( $colors, text );
	background-color: map-get( $colors, background );
	@if map-has-key( $colors, hover_background ) {
		&:hover,
		&:focus {
			opacity: 1;
			background-color: map-get( $colors, hover_background );
		}
	}
}

.button {
	@include button-core;
	@include button-color( $color__button );
	height: 3em;
	padding: em_minus_px( 0.75em, 2px ) 2em em_minus_px( 0.75em, 2px );
	border: 2px solid;
	border-radius: 3px;
	font-size: 1em;
	font-weight: bold;
}

button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
	@extend .button;
}

.button-accent {
	@include button-color( $color__button-accent );
}
