/* Lines */

hr {
	box-sizing: content-box; // Do not remove. !normalize
	height: 2px; // Do not remove. !normalize ( initial value: 0 )
	margin-top: -2px;
	margin-bottom: 1.5em;
	border: 0;
	background-color: $color__text-light;
}
