/**
 * Widgets
 */

.widget {
	margin: 0 0 1.5em;
	word-wrap: break-word;
	select {
		max-width: 100%;
	}
	&:not( .widget_text ) {
		ul {
			margin: 0;
			padding: 0;
			list-style: none;
		}
	}
	a {
		color: $color__gray;
		&:hover,
		&:active,
		&:focus {
			color: $color__accent;
		}
	}
}

.widget_search {
	.search-submit {
		display: none;
	}
}

.widget_calendar {
	caption {
		@include font-size( 0.625 );
		@include line-height( 1.5 );
		color: #fff;
		background-color: $color__gray-dark;
		font-weight: normal;
		letter-spacing: ( 1em / 16 );
		text-transform: uppercase;
	}
	table {
		max-width: 100%;
		margin-bottom: 0;
	}
	td,
	th {
		@include font-size( 0.75 );
		padding: 0 ;
		line-height: 2em;
		text-align: center;
	}
	td, {
		line-height: em_minus_px( 2em, 1px, $font__size-body-px * 0.75 );
	}
	th {
		line-height: em_minus_px( 2em, 2px, $font__size-body-px * 0.75 );
	}
	tfoot td:first-child {
		padding-left: 0.75em;
		text-align: left;
	}
	tfoot td:last-child {
		padding-right: 0.75em;
		text-align: right;
	}
}

.widget.widget_recent_comments,
.widget.widget_recent_entries {
	li {
		border-bottom: 1px solid $color__gray-light;
		margin-bottom: 0.75em;
		padding-bottom: em_minus_px( 0.75em, 1px );
	}
}

.widget_rss {
	.widget-title {
		a {
			color: $color__text;
			text-decoration: underline;
		}
		a:first-child {
			display: none;
		}
	}
	li {
		border-bottom: 1px solid $color__gray-light;
		margin-bottom: 0.75em;
		padding-bottom: em_minus_px( 0.75em, 1px );
	}
	a {
		display: block;
	}
	cite {
		margin: 0;
		color: $color__gray;
		font-style: normal;
	}
	.rss-date {
		display: block;
		margin: 0;
		color: $color__gray;
	}
}

.widget.widget_nav_menu {
	ul ul {
		margin-left: 1em;
	}
}
