/* Tables. Editor modifications */

.mce-item-table,
.mce-item-table td,
.mce-item-table th,
.mce-item-table caption {
	border: none;
	border-spacing: 0;
}

.mce-item-table td,
.mce-item-table th {
	border-bottom: 1px solid $color__gray;
}

.mce-item-table thead th {
	border-bottom: 2px solid $color__gray-dark;
}

@import '../typography/tables';