/**
 * Pages
 */

.sticky {
	display: block;
}

.hentry {
	word-wrap: break-word;
}

.post-list-item {
	@extend .clear;
	margin-bottom: 1.5em;
}

.post-single-item {
	margin-bottom: 1.5em;
}

.page-single-item {
	margin-bottom: 1.5em;
	@media screen and ( min-width: $sm ) {
		margin-bottom: 3em;
	}
}

@import 'page-404';

@import 'page-fullwidth';
