/**
 * Pages
 */

.sticky {
	display: block;
}

.hentry {
	word-wrap: break-word;
}

.post-list-item {
	@extend .clear;
	margin-bottom: 1.5em;
}

.post-single-item {
	@extend .clear;
	margin-bottom: 1.5em;
}

.page-single-item {
	@extend .clear;
	margin-bottom: 1.5em;
}

@import 'page-search';

@import 'page-404';

@import 'page-fullwidth';
