/* Portfolio */

.page-template-portfolio {
	.page {
		@extend .clear;
		margin-bottom: 3em;
	}
	.content-area {
		@extend .clear;
		float: none;
		width: 100%;
		max-width: 100%;
		margin: 0 auto;
		padding: 0;
	}
	.entry-header,
	.entry-content,
	.comments-area {
		@extend .clear;
		@include with-layout( $susy-static ) {
			max-width: span( 6 );
		}
		width: 100%;
		margin-right: auto;
		margin-left: auto;
		@media screen and ( min-width: $md ) {
			margin-left: 0;
		}
	}
}


.portfolio-grid {
	@extend .clear;
	@include with-layout( $susy-static ) {
		max-width: span( 6 );
		margin: 0 auto;
	}
	@media screen and ( min-width: $md ) {
		max-width: 100%;
	}
	.project {
		@include clearfix;
		margin-bottom: 3em;
		@media screen and ( min-width: $md ) {
			@include with-layout( $susy-portfolio-grid ) {
				@include span( 4 );
			}
			@include with-layout( $susy-portfolio-grid-static ) {
				min-height: span( 4 );
			}
			position: relative;
			margin-bottom: 1.5em;
			background-color: #000;
			&:nth-of-type(3n) {
				margin-right: 0;
			}
			&:hover,
			&:active {
				.project-header {
					display: block;
				}
				.project-thumbnail {
					opacity: 0.2;
					img {
						opacity: 1;
					}
				}
			}
		}
	}
}

.project-header {
	max-width: 100%;
	@media screen and ( min-width: $md ) {
		position: absolute;
		top: 0;
		left: 1.5em;
		.has-post-thumbnail & {
			display: none;
		}
	}
}
.project-title {
	margin: 0;
	a {
		@include font-size( 1 );
		display: block;
		color: $color__text-main;
		line-height: 1.5;
		@media screen and ( min-width: $md ) {
			padding: 1.2em 1.2em 0 0;
			color: #fff;
		}
	}
}
.project-categories {
	display: inline-block;
	color: $color__gray;
	font-weight: normal;
	a {
		color: $color__gray;
	}
}
.project-thumbnail {
	display: block;
	margin: 0 0 1.5em;
	@media screen and ( min-width: $md ) {
		margin: 0;
	}
	img {
		display: block;
		width: 100%;
		height: auto;
	}
}
