/* Portfolio */

.page-template-portfolio-jetpack,
.page-template-portfolio-toolkit {
	.page {
		@extend .clear;
		@media screen and ( min-width: $sm ) {
			margin-bottom: 1.5em;
		}
	}
	.content-area {
		@extend .clear;
		float: none;
		width: 100%;
		max-width: 100%;
		margin: 0 auto;
		padding: 0;
	}
	.entry-header,
	.entry-content,
	.comments-area {
		@extend .clear;
		@include with-layout( $susy-static ) {
			max-width: span( 6 );
		}
		width: 100%;
		margin-right: auto;
		margin-left: auto;
		@media screen and ( min-width: $sm ) {
			margin-left: 0;
		}
	}
}
