/* Default Page */

.page-template-default {
	.hentry {
		@extend .clear;
		@media screen and ( min-width: $md ) {
			margin-bottom: 1.5em;
		}
	}
	.entry-header,
	.entry-content,
	.comments-area {
		@include with-layout( $susy-static ) {
			max-width: span( 6 );
		}
		clear: both;
		width: 100%;
		margin-right: auto;
		margin-left: auto;
		@media screen and (min-width: $md) {
			float: left;
			margin-left: 0;
		}
	}
}
