/* Single Portfolio */

.single-portfolio,
.single-jetpack-portfolio {
	.hentry {
		@extend .clear;
		@media screen and (min-width: $sm) {
			margin-bottom: 1.5em;
		}
	}
	.content-area {
		float: none;
		width: 100%;
		max-width: 100%;
		margin-right: 0;
	}
	.entry-header {
		@extend .clear;
		@include with-layout( $susy-static ) {
			max-width: span( 6 );
		}
		width: 100%;
		margin: 0 auto;
		@media screen and ( min-width: $md ) {
			max-width: 100%;
		}
	}
	.entry-content {
		@extend .clear;
		@include with-layout( $susy-static ) {
			max-width: span( 6 );
		}
		width: 100%;
		margin: 0 auto;
		@media screen and ( min-width: $md ) {
			max-width: 100%;
			margin: 0;
			p,
			h1,
			h2,
			h3,
			h4,
			h5,
			h6,
			table,
			pre,
			blockquote {
				max-width: span( 6 );
			}
			blockquote p {
				max-width: 100%;
			}
		}
	}
	.project-excerpt,
	.project-meta {
		margin-bottom: 1.5em;
		@media screen and ( min-width: $md ) {
			@include span( 6 );
		}
	}
	.project-meta {
		@extend .clear;
		table {
			display: block;
			float: left;
			width: auto;
			margin-bottom: 0;
			@media screen and ( min-width: $md ) {
				float: right;
				margin-bottom: 1.5em;
			}
		}
		td {
			padding: 0;
			border-bottom: none;
			&.project-meta-item-name {
				padding-right: 1em;
			}
		}
		@media screen and ( min-width: $md ) {
			margin-right: 0;
		}
	}
	&.no-excerpt .project-meta {
		table {
			@media screen and ( min-width: $md ) {
				float: left;
			}
		}
		.project-meta-item-name {
			text-align: left;
		}
	}
	.project-meta-item-name {
		padding-right: 1em;
		color: $color__text-secondary;
		text-align: left;
		vertical-align: top;
		@media screen and ( min-width: $md ) {
			text-align: right;
		}
	}
	.project-meta-item-desc {
		font-weight: bold;
	}
	.comments-area {
		@include with-layout( $susy-static ) {
			max-width: span( 6 );
		}
	}
}
