.search {
	// Do not need padding on a search field in widgets.
	.content-area .search-field {
		padding-right: 10em;
	}
	.hentry {
		margin-bottom: 3em;
	}
	.entry-title {
		@include font-size( 1.25 );
		margin: 0 0 1.2em;
		line-height: 1.2em;
		a {
			color: $color__text;
		}
	}
	.search-form,
	.entry-header,
	.entry-summary {
		@include with-layout( $susy-static ) {
			max-width: span( 6 );
		}
		margin-right: auto;
		margin-left: auto;
		@media screen and ( min-width: $md ) {
			max-width: 100%;
			margin-left: 0;
		}
	}
}
