/* Alignments */

.alignleft {
	float: left;
}

.alignright {
	float: right;
}

.aligncenter {
	@include center-block;
}

img,
.wp-caption {
	&.alignleft {
		margin: 0.5rem 1.5rem 0.5rem 0;
	}
	&.alignright {
		margin: 0.5rem 0 0.5rem 1.5rem;
	}
}

blockquote.alignleft {
	margin: 1.5em;
	float: none;
	@media screen and ( min-width: $sm ) {
		float: left;
		margin: 3em 1.5em 3em 0;
		max-width: 50%
	}
}

blockquote.alignright {
	margin: 1.5em;
	float: none;
	@media screen and ( min-width: $sm ) {
		float: right;
		margin: 3em 0 3em 1.5em;
		max-width: 50%
	}
}
