/* Blocks */

// Separators.
.wp-block-separator {
	max-width: 100px;
	margin-left: auto;
	margin-right: auto;
}

.wp-block-separator.is-style-wide {
	max-width: none;
}

// Post grid.
.wp-block-latest-posts.is-grid{
	margin-left: 0;
}

// Large Block Quote.
.wp-block-quote.is-large {
	margin: 1.5rem 0;
	padding: 0;
	p {
		@include font-size( 2 );
		line-height: 1.125;
	}
	@media screen and ( min-width: $sm ) {
		margin: 3rem 0;
	}
}

.wp-block-quote.is-large cite {
	font-size: 0.625rem;
	text-align: left;

}

// Buttons.
.wp-block-button.alignleft {
	margin-right: 1rem;
}

.wp-block-button.alignright {
	margin-left: 1rem;
}

// Cover Images.
.wp-block-cover.alignleft,
.wp-block-cover-image.alignleft {
	margin-right: 1rem;
}

.wp-block-cover.alignright,
.wp-block-cover-image.alignright {
	margin-left: 1rem;
}

// Galleries.
.wp-block-gallery {
	margin-left: 0;
	margin-right: 0;
}

// Pull Quotes.
.wp-block-pullquote {
	padding: 0;
}

.wp-block-pullquote p {
	@include font-size( 1.5 );
	line-height: 1.125;
}
