/* Buttons */

// Core button functionality. Theme independent.
@mixin button-core {
	display: inline-block;
	margin: 0;
	-webkit-appearance: none;
	background-image: none;
	line-height: 1;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	text-decoration: none;
	cursor: pointer;

	touch-action: manipulation;
	&:hover {
		box-shadow: inset 0 0 108px rgba( 255, 255, 255, 0.5 );
		text-decoration: none;
	}
	&:active {
		outline: 0;
		box-shadow: inset 0 0 108px rgba( 255, 255, 255, 0.5 );
		text-decoration: none;
	}
	&:focus {
		@include focus;
		box-shadow: inset 0 0 108px rgba(255, 255, 255, 0.2 );
		text-decoration: none;
	}
}

// Default button styles.
@mixin button {
	@include button-core;
	height: 3em;
	padding: 0.875em 1.25em;
	border: 2px solid;
	border-radius: 3px;
	font-size: 1em;
	font-weight: bold;
	border-color: $color__gray;
	color: $color__text;
	background-color: $color__gray;
}

@mixin button-color( $color ) {
	border-color: $color;
	color: #fff;
	background-color: $color;
}

.btn,
button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
	@include button;
}

// Double class to override the border color of input elements.
.btn.btn-accent {
	@include button-color( $color__accent );
}

.btn.btn-success {
	@include button-color( $color__success );
}

.btn.btn-info {
	@include button-color( $color__info );
}

.btn.btn-warning {
	@include button-color( $color__warning );
}

.btn.btn-danger {
	@include button-color( $color__danger );
}
