/* Forms */

input[type='text'],
input[type='email'],
input[type='url'],
input[type='password'],
input[type='search'],
input[type='number'],
input[type='date'],
input[type='datetime'],
input[type='datetime-local'],
input[type='month'],
input[type='time'],
input[type='week'],
input[type='tel'],
textarea {
	@include font-size( 1 );
	@include line-height( 1.5 );
	width: 100%;
	padding: em_minus_px( 0.75em, 2px ) 1em;
	border: 2px solid;
	border-color: $color__gray;
	border-radius: 3px;
	-webkit-appearance: none;
	color: $color__text;
	background-color: transparent;
	box-shadow: none;
	vertical-align: middle;
}

::-webkit-input-placeholder {
	color: $color__text;
	opacity: $opacity;
	text-overflow: ellipsis;
}
::-moz-placeholder {
	color: $color__text;
	opacity: $opacity;
	text-overflow: ellipsis;
}
:-moz-placeholder {
	color: $color__text;
	opacity: $opacity;
	text-overflow: ellipsis;
}
input:-ms-input-placeholder {
	color: $color__text;
	opacity: $opacity;
	text-overflow: ellipsis;
}

:focus::-webkit-input-placeholder {
	color: transparent;
}
:focus::-moz-placeholder {
	color: transparent;
}
:focus:-moz-placeholder {
	color: transparent;
}
input:focus:-ms-input-placeholder {
	color: transparent;
}

.post-password-form {
	position: relative;
}

.post-password-form label {
	display: block;
}

.post-password-form input[type='submit'] {
	position: absolute;
	right: 0;
	bottom: 0;
}

.search-form {
	position: relative;
	margin-bottom: 1.5em;
}

.search-submit {
	position: absolute;
	top: 0;
	right: 0;
}

input[type='submit'].search-submit {
	@include button-color( $color__accent );
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}
