/* Icons */

%icon {
	@include line-height( 1 );
	display: inline-block;
	width: 1em;
	margin: 0;
	font-family: 'fontello';
	font-size: 100%;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	text-align: center;
	text-decoration: none;
	text-transform: none;
}