/* Posts Navigation (Newer/Older Post) */

.posts-navigation {
	@extend .clear;
	margin: 0 auto 3em;
	word-wrap: break-word;
	padding-top: 3em;
	border-top: 2px	solid $color__background-hr;
	a {
		@extend %button_core;
		@extend %button-border;
		float: left;
		&:before,
		&:after {
			@extend %icon;
			margin: 0 0.5em;
			color: darken( $color__background-hr, 7% );
		}
	}
	.nav-previous a {
		margin-right: 1.5em;
		padding-left: 0.5em;
		&:before {
			content: '\e802';
		}
	}
	.nav-next a {
		padding-right: 0.5em;
		&:after {
			content: '\e803';
		}
	}
}
