/* Posts Navigation (Newer/Older Post) */

.posts-navigation {
	@extend .clear;
	@include with-layout( $susy-static ) {
		max-width: span( 6 );
	}
	margin: 1.5em auto 1.5em;
	word-wrap: break-word;
	@media screen and ( min-width: $md ) {
		float: left;
		width: 100%;
		max-width: 100%;
	}
	a {
		@extend .button;
		float: left;
		&:before,
		&:after {
			@extend %icon;
			margin: 0 0.5em;
			color: $color__text-light;
		}
	}
	.nav-previous a {
		margin-right: 1.5em;
		padding-left: 0.5em;
		&:before {
			content: '\e802';
		}
	}
	.nav-next a {
		padding-right: 0.5em;
		&:after {
			content: '\e803';
		}
	}

	// Pagination on a blog page.
	.blog & {
		margin-top: 0;
		padding-top: em_minus_px( 3em, 2px );
		border-top: 2px solid;
		border-top-color: $color__text-light;
	}
}
