/* Pagination */

.pagination {
	@include clearfix;
	@include with-layout( $susy-static ) {
		max-width: span( 6 );
	}
	margin: 0 auto 1.5em;
	word-wrap: break-word;
	@media screen and ( min-width: $md ) {
		max-width: 100%;
	}
	.nav-links {
		position: relative;
		min-height: 3em;
	}
	.page-numbers {
		@extend .button;
		display: none;
		overflow: hidden;
		min-width: 2em;
		padding-right: em_minus_px( 0.75em, 2px );
		padding-left: em_minus_px( 0.75em, 2px );
		border-color: transparent;
		@media screen and (min-width: $xs) {
			display: inline-block;
		}
		@media screen and (min-width: $sm) {
			width: 3em;
			// padding-right: em_minus_px( 0.75em, 2px );
			// padding-left: em_minus_px( 0.75em, 2px );
		}
	}
	.page-numbers.prev,
	.page-numbers.next {
		display: block;
		position: absolute;
		top: 0;
		width: 3em;
		padding: em_minus_px( 0.75em, 2px );
		border-color: $color__text-light;
		color: transparent;
	}
	.page-numbers.prev {
		right: 60px;
		&:before {
			@extend %icon;
			width: 24px;
			height: 24px;
			color: $color__text;
			content: '\e802';
		}
	}
	.page-numbers.next {
		right: 0;
		border-color: $color__text-light;
		&:before {
			@extend %icon;
			width: 24px;
			height: 24px;
			color: $color__text;
			content: '\e803';
		}
	}
	.nav-links:before {
		position: absolute;
		top: 0;
		right: 0;
		width: 48px;
		height: 48px;
		border: 2px dashed;
		border-color: map-get( $color__button, border );
		border-radius: 3px;
		content: '';
	}
	.page-numbers.all {
		display: inline-block;
		width: 3em;
		padding-right: em_minus_px( 0.75em, 2px );
		padding-left: em_minus_px( 0.75em, 2px );
		border-color: $color__text-light;
		span {
			display: none;
		}
		&:before {
			@extend %icon;
			content: '\e807';
		}
		@media screen and ( min-width: $sm ) {
			width: auto;
			padding-right: em_minus_px( 2em, 2px );
			padding-left: em_minus_px( 1.75em, 2px );
			span {
				display: inline;
			}
			&:before {
				margin-right: 0.5em;
				content: '\e807';
			}
		}
	}
	.page-numbers.current,
	.page-numbers.dots {
		color: $color__text-secondary;
		cursor: auto;
		&:hover,
		&:focus {
			background-color: transparent;
		}
	}
}

.blog .pagination {
	padding-top: 1.5em;
	border-top: 2px solid $color__text-light;
	@media screen and ( min-width: $sm ) {
		padding-top: 3em;
	}
}



.page-template-portfolio-toolkit,
.page-template-portfolio-jetpack {
	.pagination {
		@include with-layout( $susy-static ) {
			max-width: span( 6 );
		}
		padding-top: 1.5em;
		border-top: 2px solid $color__text-light;
		@media screen and ( min-width: $sm ) {
			max-width: 100%;
			border-top: none;
			// padding-top: 1.5em;
		}
	}
}
