/* Portfolio Navigation */

.portfolio-navigation {
	@extend .clear;
	@include with-layout( $susy-static ) {
		max-width: span( 6 );
	}
	@media screen and ( min-width: $md ) {
		max-width: 100%;
	}
	margin: 0 auto 1.5em;
	word-wrap: break-word;
	a {
		@extend %button_core;
		@extend %button-border;
		float: left;
		&:before,
		&:after {
			@extend %icon;
			margin: 0 0.5em;
			color: darken( $color__background-hr, 7% );
		}
	}
	.nav-previous a {
		margin-right: 1.5em;
		padding-left: 0.5em;
		&:before {
			content: '\e802';
		}
	}
	.nav-next a {
		padding-right: 0.5em;
		&:after {
			content: '\e803';
		}
	}
}
