.tp-theme-info {
	position: relative;
	max-width: 1050px;
	margin: 25px 20px 0 10px;
	font-size: 15px;
}

.tp-theme-info img {
	display: block;
	max-width: 100%;
	height: auto;
}

.tp-theme-info p {
	font-size: 14px;
	line-height: 1.6em;
}

.tp-theme-info h1 {
	font-size: 2.8em;
}

.tp-two-col .tp-col {
	display: inline-block;
}

.tp-theme-intro .tp-col {
	margin-bottom: 1em;
}

.tp-theme-screenshot,
.tp-media-container {
	box-sizing: border-box;
	border: 1px solid #dedede;
	box-shadow: 0 1px 1px -1px rgba(0, 0, 0, 0.1);
}

.tp-media-container {
	margin: 1em 0;
}

.theme-info-sidebar .card {
	min-width: auto;
}

.theme-info-sidebar input[type=text] {
	width: 100%;
}

.tp-license-active {
	color: #1fc281;
}

.tp-license-inactive {
	color: #f4cc31;
}

.tp-license-unknown {
	color: #e83337;
}

.tab-content hr {
	margin: 1em 0;
}

.tab-heading {
	margin: 25px 0 30px;
	font-size: 2.2em;
	font-weight: 300;
	line-height: 1.3;
}

.about-wrap h3.tp-col-heading {
	margin: 0.6em 0;
}

.welcome-screen-widget {
	margin-top: 40px;
}

.tp-theme-feature-buttons {
	display: inline-block;
	margin: 0.6em 0 1em;
}

.tp-theme-info.wrap h2.nav-tab-wrapper {
	padding: 0;
}

.nav-tab-pro:not(.nav-tab-active) {
	border-color: #0085ba;
	color: #fff;
	background-color: #0085ba;
}

.nav-tab-pro:not(.nav-tab-active):hover {
	border-color: #ccc;
	color: #555;
	background-color: #fff;
}

.tp-well {
	margin: 1em 0;
	padding: 1em;
	background-color: #f0f0f0;
	text-align: center;
}

.tp-well-message {
	color: #777;
	font-size: 19px;
	font-weight: 400;
	line-height: 1.6em;
}

@media screen and (min-width: 501px) {
	.tp-theme-info {
		margin-right: 40px;
		margin-left: 20px;
	}

	.tp-theme-intro {
		padding-top: 5px;
	}

	.tp-theme-intro .tp-col {
		margin-bottom: 20px;
	}
}

@media screen and (min-width: 601px) {
	.tp-two-col .tp-col {
		float: none;
		width: calc(47.6% - 4px);
		margin-right: 4.799999999%;
		vertical-align: top;
	}

	.tp-two-col .tp-col:nth-of-type(2n) {
		margin-right: 0;
	}
}

@media screen and (min-width: 783px) {
	.tp-theme-intro {
		padding-top: 15px;
	}

	.tp-theme-intro .tp-col {
		margin-bottom: 40px;
	}

	.theme-info-sidebar {
		float: right;
		width: 30%;
		min-width: 30%;
	}

	.tab-content {
		float: left;
		box-sizing: border-box;
		width: 70%;
	}

	.tab-content.card {
		max-width: 63%;
		max-width: calc( 70% - 40px );
		margin-top: 40px;
	}

	.tp-well-message {
		max-width: 67%;
		margin: 1.2em auto 1.2em;
	}
}

@media screen and (min-width: 961px) {
	.tp-theme-intro .tp-col {
		vertical-align: middle;
	}
}

@media screen and (max-width: 600px) {
	.tp-nav-tab-wrapper .nav-tab-active,
	.tp-nav-tab-wrapper .nav-tab-active:focus,
	.tp-nav-tab-wrapper .nav-tab-active:focus:active,
	.tp-nav-tab-wrapper .nav-tab-active:hover {
		border-bottom: 1px solid #ccc;
	}

	h2.tp-nav-tab-wrapper .nav-tab {
		margin: 0 -1px -1px;
	}
}
