/**
 * Wrap.
 */.tp-theme-info {
	position: relative;
	max-width: 1050px;
	margin: 25px 20px 0 10px;
	font-size: 15px;
}

.tp-theme-info h1 {
	font-size: 1.8em;
}

.tp-theme-info img {
	display: block;
	max-width: 100%;
	height: auto;
}

.tp-theme-info .tp-license-notification {
	display: none;
}/**
 * Intro.
 */.tp-theme-intro {
	max-width: 582px;
}

.tp-theme-screenshot {
	display: inline-block;
	margin-bottom: 28px;
}

.tp-theme-description {
	display: inline-block;
	color: #72777c;
}

.tp-theme-description-name {
	margin-bottom: 0.5em;
	font-size: 2.2em;
	font-weight: 100;
	line-height: 1.3;
	word-wrap: break-word;

	overflow-wrap: break-word;
}

.tp-theme-description-version {
	display: inline-block;
	float: none;
	margin-left: 10px;
	color: #72777c;
	font-size: 13px;
	font-weight: 400;
}

p.tp-theme-description-text {
	font-size: 16px;
}/**
 * Content.
 */.tp-theme-info-content {
	margin-top: 28px;
}

.tp-theme-info-content h1 {
	margin: 25px 0 30px;
}

.tp-theme-info-content p {
	font-size: 16px;
	line-height: 1.5;
}

.tp-theme-info-sidebar .card {
	min-width: auto;
}

.tp-theme-info-sidebar input[type=text] {
	width: 100%;
}

.tp-theme-info-sidebar-widget {
	margin-top: 40px;
}

.tp-license-active {
	color: #1fc281;
}

.tp-license-inactive {
	color: #f4cc31;
}

.tp-license-unknown {
	color: #e83337;
}

@media screen and (min-width: 783px) {
	.tp-theme-info {
		margin-top: 40px;
		margin-right: 40px;
		margin-left: 20px;
	}
}

@media screen and (min-width: 961px) {
	.tp-theme-intro {
		max-width: 100%;
		border-bottom: 1px solid #e0e0e0;
	}

	.tp-theme-screenshot {
		width: calc(47.6% - 4px);
		margin-right: 4.799999999%;
		margin-bottom: 0;
		vertical-align: middle;
	}

	.tp-theme-description {
		width: calc(47.6% - 4px);
		vertical-align: middle;
	}

	.tp-theme-info-content {
		margin-top: 40px;
	}
}

@media screen and (min-width: 1128px) {
	.tp-theme-info-content {
		float: left;
		box-sizing: border-box;
		width: 100%;
		max-width: 63%;
		max-width: calc( 70% - 40px );
	}

	.tp-theme-info-sidebar {
		float: right;
		width: 30%;
		min-width: 30%;
	}
}
