/**
 * Comments
 */

.comments-area {
		@extend .clear;
}

.comment-list,
.children {
	margin-bottom: 0;
	padding-left: 0;
	list-style: none;
}

.comment-list {
	margin-left: 0;
	padding-top: em_minus_px( 1.5em, 2px );
	border-top: 2px solid;
	border-top-color: $color__gray;
}

.children {
	margin-left: 5%;
}

.comment-body {
	position: relative;
	margin: 0 0 em_minus_px( 1.5em, 2px ) 0;
	border-bottom: 2px solid;
	border-bottom-color: $color__gray;
	word-wrap: break-word;
	.pingback & {
		margin: 0 0 1.5em 0;
		padding: 1.5em;
		border-bottom: none;
		background-color: $color__gray;
		.edit-link {
			display: block;
			float: right;
		}
	}
}

.comment-meta {
	margin: 0 0 1.5em 0;
}

.comment-author {
	img {
		display: block;
		float: left;
		clear: left;
		width: 3em;
		height: 3em;
		border-radius: 50%;
	}
	.says {
		display: none;
	}
}

.comment-author .author-name,
.comment-author .fn,
.comment-metadata {
	display: block;
	margin-left: 72px;
	margin-left: 4.5rem;
}

.comment-metadata {
	@include font-size( 0.875 );
	@include line-height( 1.5 );
	margin-bottom: 24px;
	margin-bottom: 1.5rem;
	time,
	.edit-link a {
		margin-right: 0.5em;
	}
	a {
		color: $color__text;
		opacity: $opacity;
	}
}

.reply {
	display: none;
	position: absolute;
	top: 0;
	right: 0;
}

.comment-body:hover .reply {
	display: block;
}

.comment-content {
	@extend .clear;
}

.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}

.comment-reply-title small {
	@include font-size();
	@include line-height();
	float: right;
	font-weight: normal;
	line-height: inherit;
	a {
		color: $color__danger;
		&:before {
			@extend %icon;
			margin: 0 0.5em;
			content: '\e801';
		}
	}
}

.required {
	color: $color__danger;
}

.comment-form {
	.submit {
		@include button-color( $color__accent );
	}
	textarea {
		min-height: 13.5em;
	}
}

.comment-notes,
.form-allowed-tags {
	@extend .screen-reader-text;
}

.comments-title,
.comment-reply-title {
	@include font-size( 1.5 );
}

.comment-list,
.form-submit {
	margin-bottom: 1.5em;
	@media screen and ( min-width: $md ) {
		margin-bottom: 3em;
	}
}

.no-comments {
	margin-bottom: 3em;
}

/* Comment Navigation */

.comment-navigation {
	overflow: hidden;
	margin: 0 0 1.5em;
	word-wrap: break-word;
	@media screen and ( min-width: $sm ) {
		margin-bottom: 3em;
	}

	.nav-links {
		overflow: hidden;
		width: 100%;
	}
	.nav-previous,
	.nav-next {
		display: inline-block;
		float: left;
		a {
			display: block;
			float: left;
		}
	}
	.nav-pages {
		display: inline-block;
		float: right;
		opacity: $opacity;
		text-align: right;
	}
	.nav-previous a {
		margin-right: 1em;
	}
	.nav-previous a:before,
	.nav-next a:after {
		@extend %icon;
		margin: 0 0.2em;
		opacity: $opacity;
	}
	.nav-previous a:before {
		margin: 0 0.5em 0 0;
		content: '\e802';
	}
	.nav-next a:after {
		margin: 0 0 0 0.5em;
		content: '\e803';
	}
}
