/* Entry Content */

.entry-content,
.entry-summary {
	word-wrap: break-word;
	hyphens: auto;
}

.entry-content {
	@extend .clear;
	> img {
		display: block;
		margin-bottom: 1.5em;
	}
}

.content-area {
	@extend .clear;
}
