/* Entry Meta */

.entry-meta-item {
	display: block;
	color: $color__text-secondary;
	a {
		color: $color__text-secondary;
		&:hover,
		&:focus {
			opacity: 1;
			color: $color__accent;
		}
	}
}

.entry-meta-icon {
	fill: currentColor;
	width: 1em;
	height: 1.5em;
	display: block;
	float: left;
	margin-right: 0.25em;
	opacity: 0.5;
}

.entry-meta-item.cat-links {
	@include font-size( 0.875 );
	display: block;
	font-weight: bold;
	line-height: 1.7142857143;
	letter-spacing: 2px;
	text-transform: uppercase;
	@media screen and ( min-width: $sm ) {
		display: block;
	}
	a {
		color: $color__accent;
	}
}

.byline,
.updated:not(.published) {
	display: none;
}

.group-blog .byline {
	display: block;
}

.tags-links {
	a {
		display: inline-block;
		margin-right: 0.5em;
		color: $color__text-secondary;
		&:hover,
		&:focus {
			opacity: 1;
			color: $color__accent;
		}
		&:before {
			content: '#';
		}
	}
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}
