/* Footer */

.site-footer {
	@extend .clear;
	@media screen and ( min-width: $sm ) {
		padding: 1.5em 0;
	}
}

.site-info {
	display: block;
	margin-bottom: 1.5em;
	@media screen and ( min-width: $xs ) {
		@include span( 5 last );
		text-align: right;
	}
}
