/* Primary Menu */

.main-navigation {
	width: 100%;
	ul {
		display: none;
		margin: 0 0 1.5em 0;
		padding: 0;
		list-style: none;
		ul {
			display: block;
			margin: 0;
			padding: 0 0 0 1em;
		}
	}
	&.toggled {
		ul {
			display: block;
		}
	}
	a {
		display: block;
		padding: 0.75em 0.75em 0.75em 0;
		color: $color__text;
		&:hover,
		&:focus,
		&:active {
			color: $color__accent;
		}
	}
}

@media screen and ( min-width: $sm ) {
	.main-navigation {
		width: auto;
		ul {
			display: block;
			float: right;
			margin: 0 -0.75em;
			padding: 0.75em 0;
			list-style: none;
			ul {
				float: left;
				position: absolute;
				z-index: 99999;
				top: 3em;
				left: -999em;
				padding: 0;
				background-color: #fff;
				box-shadow: 0 2px 25px 3px rgba( 0, 0, 0, 0.1 );
				ul {
					top: 0;
					left: -999em;
				}
				li {
					box-shadow: 0 13px 0 -12px $color__text-light;
					&:last-child {
						box-shadow: none;
					}
					&:hover > ul,
					&.focus > ul {
						left: 100%;
					}
				}
				a {
					width: 12em;
					padding: 0.75em 1em;
				}
			}
			li:hover > ul,
			li.focus > ul {
				left: auto;
			}
		}
		li {
			float: left;
			position: relative;
		}
		a {
			padding: 0.75em;
		}
	}
}

// Toggle.
/* Toggle Hamburger */

$dash_height: ( 2 / $font__size-body ) * 1em;
$dash_width: 1em;

.menu-toggle {
	float: right;
	position: relative;
	width: 1.5em;
	height: 1.5em;
	margin-top: 1.5em;
	padding: 0;
	border-color: transparent;
	background-color: transparent;
	text-align: left;
	text-indent: -9999px;
}

.menu-toggle-icon {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 1em;
	height: $dash_height;
	margin-top: ( $dash_height / ( -2 ) ) ;
	margin-left: ( $dash_width / ( -2 ) ) ;
	background-color: $color__text;
	&:before,
	&:after {
		display: block;
		position: absolute;
		width: 1em;
		height: $dash_height;
		background-color: $color__text;
		content: '';
		transition: transform 0.3s, top 0.3s;
	}
	&:before {
		top: ( $dash_height * ( -3 ) );
	}
	&:after {
		top: ( $dash_height * 3 );
	}
}

.menu-toggle.toggled {
	.menu-toggle-icon {
		background-color: transparent;
		&:before,
		&:after {
			top: 0;
			background-color: $color__text;
		}
		&:before {
			transform: rotate( 225deg );
		}
		&:after {
			transform: rotate( -225deg );
		}
	}
}

@media screen and ( min-width: $sm ) {
	.menu-toggle {
		display: none;
	}
}
