/* Page Header */

.page-header {
	@include with-layout( $susy-static ) {
		max-width: span( 6 );
	}
	@media screen and ( min-width: $md ) {
		max-width: 100%;
		margin-bottom: 3em;
	}
}

.page-title {
	@include font-size( 1.5 );
	line-height: 1.125;
	@media screen and ( min-width: $sm ) {
		@include font-size( 1.75 );
	}
}
