/* Pagination */

.pagination {
	@include clearfix;
	@include with-layout( $susy-static ) {
		max-width: span( 6 );
	}
	margin: 0 auto 1.5em;
	word-wrap: break-word;
	@media screen and (min-width: $sm ){
		margin-bottom: 3em;
	}
	@media screen and ( min-width: $md ) {
		max-width: 100%;
	}

	.nav-links {
		position: relative;
		min-height: 3em;
	}

	.page-numbers {
		@include button;
		display: none;
		overflow: hidden;
		min-width: 2em;
		padding-right: em_minus_px( 0.75em, 2px );
		padding-left: em_minus_px( 0.75em, 2px );
		border-color: transparent;
		background-color: transparent;
		&:hover,
		&:focus {
			border-color: $color__gray;
			box-shadow: none;
		}
		@media screen and (min-width: $xs) {
			display: inline-block;
		}
		@media screen and (min-width: $sm) {
			width: 3em;
		}
	}

	.page-numbers.prev,
	.page-numbers.next {
		display: block;
		position: absolute;
		top: 0;
		width: 3em;
		color: transparent;
	}

	.page-numbers.prev {
		right: 3.75em;
		&:before {
			@extend %icon;
			width: 1.5em;
			height: 1.5em;
			color: $color__text;
			content: '\e802';
		}
		&.last-page {
			right: 0;
		}
	}

	.page-numbers.next {
		right: 0;
		&:before {
			@extend %icon;
			width: 1.5em;
			height: 1.5em;
			color: $color__text;
			content: '\e803';
		}
	}

	.page-numbers.all {
		width: 3em;
		border-color: transparent;
		span {
			display: none;
		}
		&:hover,
		&:focus {
			border-color: $color__gray;
			box-shadow: none;
		}
		&:before {
			@extend %icon;
			content: '\e807';
		}
		@media screen and ( min-width: $sm ) {
			width: auto;
			padding-left: 1em;
			padding-right: 1em;
			span {
				display: inline;
			}
			&:before {
					display: none;
			}
		}
	}

	.page-numbers.current,
	.page-numbers.dots {
		opacity: $opacity;
		cursor: auto;
		&:hover {
			background-color: transparent;
			border-color: transparent;
		}
	}
}

.blog .pagination {
	padding-top: 1.5em;
	border-top: 2px solid $color__gray;
	@media screen and ( min-width: $sm ) {
		padding-top: 3em;
	}
}

.page-template-portfolio {
	.pagination {
		@include with-layout( $susy-static ) {
			max-width: span( 6 );
		}
		padding-top: 1.5em;
		border-top: 2px solid $color__gray;
		@media screen and ( min-width: $sm ) {
			max-width: 100%;
			border-top: none;
		}
	}
}
