/* Portfolio Grid */

.portfolio-grid {
	@extend .clear;
	@include with-layout( $susy-static ) {
		max-width: span( 6 );
		margin: 0 auto;
	}
	@media screen and ( min-width: $sm ) {
		max-width: 100%;
	}
}

// See https://css-tricks.com/snippets/sass/maintain-aspect-ratio-mixin/
.project {
	position: relative;
	margin-bottom: 1.5em;
	&:before {
		display: block;
		width: 100%;
		padding-top: 100%;
		background-color: $color__gray;
		content: '';
	}
	@media screen and ( min-width: $sm ) {
		margin-bottom: gutter();
		&:hover,
		&.focus {
			.project-header {
				opacity: 1;
			}
		}
	}
}

.project-thumbnail {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: 0;
	img {
		display: block;
		width: 100%;
		height: auto;
	}
}

.project-header {
	@extend .clear;
	width: 100%;
	padding: 1.5em 0 0;
	transition: opacity 0.15s ease-in-out;
	@media screen and ( min-width: $sm ) {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		padding: 2.25em;
		background: linear-gradient( #fff -2%, transparent 100% );
		.has-post-thumbnail & {
			opacity: 0;
			pointer-events: none;
		}
		.portfolio-grid-col-4 & {
			padding: 1em;
		}
	}
}

.project-title {
	@include font-size( 1.125 );
	margin: 0;
	a {
		display: block;
		color: $color__headings;
		line-height: 1.125;
	}
	.portfolio-grid-col-2 & {
		@include font-size( 1.25 );
	}
	.portfolio-grid-col-4 & {
		@include font-size( 1 );
	}
}

.project-categories {
	font-weight: normal;
	a {
		color: $color__text;
		opacity: $opacity;
	}
	.portfolio-grid-col-4 & {
		@include font-size( 0.875 );
	}
}

// Grid Variations.
.portfolio-grid-col-2 .project {
	@media screen and ( min-width: $sm ) {
		@include span( 6 );
		&:nth-of-type(2n) {
			margin-right: 0;
		}
	}
}

.portfolio-grid-col-3 .project {
	@media screen and ( min-width: $sm ) {
		@include span( 4 );
		&:nth-of-type(3n) {
			margin-right: 0;
		}
	}
}

.portfolio-grid-col-4 .project {
	@media screen and ( min-width: $sm ) {
		@include span( 3 );
		&:nth-of-type(4n) {
			margin-right: 0;
		}
	}
}
