/* Portfolio Grid */

.portfolio-grid {
	@extend .clear;
	@include with-layout( $susy-static ) {
		max-width: span( 6 );
		margin: 0 auto;
	}
	@media screen and ( min-width: $sm ) {
		max-width: 100%;
	}
}

.project {
	position: relative;
	margin-bottom: 1.5em;
	// See https://css-tricks.com/snippets/sass/maintain-aspect-ratio-mixin/
	&:before {
		display: block;
		width: 100%;
		padding-top: 100%;
		background-color: $color__text-light;
		content: '';
	}
	@media screen and ( min-width: $sm ) {
		margin-bottom: gutter();
		&:hover,
		&:active {
			.project-header {
				opacity: 1;
			}
		}
	}
}

.project-thumbnail {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: 0;
	img {
		display: block;
		width: 100%;
		height: auto;
	}
}

.project-header {
	@extend .clear;
	width: 100%;
	padding: 1.5em 0 0;
	transition: opacity 0.15s ease-in-out;
	@media screen and ( min-width: $sm ) {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		padding: 1.5em 2em;
		background: linear-gradient( rgba(255, 255, 255, 0.9) 35%, rgba(255, 255, 255, 0.4) 100% );
		.has-post-thumbnail & {
			opacity: 0;
			pointer-events: none;
		}
	}
}

.project-title {
	margin: 0;
	a {
		@include font-size( 1 );
		display: block;
		color: $color__text;
		line-height: 1.5;
	}
}

.project-categories {
	display: inline-block;
	font-weight: normal;
	a {
		color: $color__text;
	}
}

/* Grid Variations. */

// Two columns.
.portfolio-grid-col-2 .project {
	@media screen and ( min-width: $sm ) {
			@include span( 6 );
			margin-bottom: gutter();
		&:nth-of-type(2n) {
			margin-right: 0;
		}
	}
}
// Three columns.
.portfolio-grid-col-3 .project {
	@media screen and ( min-width: $sm ) {
			@include span( 4 );
			margin-bottom: gutter();
		&:nth-of-type(3n) {
			margin-right: 0;
		}
	}
}
// Four columns.
.portfolio-grid-col-4 .project {
	@media screen and ( min-width: $sm ) {
			@include span( 3 );
		&:nth-of-type(4n) {
			margin-right: 0;
		}
	}
}
