/**
 * Widgets
 */

.widget {
	margin: 0 0 1.5em;
	word-wrap: break-word;
	select {
		max-width: 100%;
	}
	&:not( .widget_text ) {
		ul {
			margin-left: 0;
			padding: 0;
			list-style: none;
		}
	}
	a {
		opacity: $opacity;
		color: $color__text;
		&:hover,
		&:active,
		&:focus {
			opacity: 1;
			color: $color__accent;
		}
	}
}

.widget_search {
	.search-submit {
		display: none;
	}
}

.widget_calendar {
	table {
		max-width: 100%;
		margin-top: 0;
		margin-bottom: 0;
	}
	caption,
	td,
	th {
		@include font-size( 0.75 );
		padding: 0 ;
		line-height: 2em;
		text-align: center;
		letter-spacing: 2px;
		text-transform: uppercase;
	}
	caption {
		border-top: 1px solid $color__gray;
	}
}

.widget.widget_recent_comments,
.widget.widget_recent_entries {
	li {
		margin-bottom: 0.75em;
		padding-bottom: em_minus_px( 0.75em, 1px );
		border-bottom: 1px solid $color__gray;
	}
}

.widget_rss {
	.widget-title {
		a {
			display: block;
			// Hide Ugly RSS Icon.
			&:first-child {
				display: none;
			}
		}
	}
	li {
		margin-bottom: 1.25em;
		padding-bottom: em_minus_px( 0.75em, 1px );
		border-bottom: 1px solid $color__gray;
	}
	ul > li > a {
		color: $color__text;
		text-decoration: underline;
		font-weight: bold;
		opacity: 1;
	}
	cite {
		@include font-size( 0.75 );
		display: block;
		margin: 0;
		margin: 1em 0;
		font-style: normal;
		letter-spacing: 2px;
		text-transform: uppercase;
	}
	.rss-date {
		@include font-size( 0.75 );
		display: block;
		margin: 1em 0;
		letter-spacing: 2px;
		text-transform: uppercase;
	}
}

.widget.widget_nav_menu {
	ul ul {
		margin-left: 1em;
	}
}
