@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?97249729');
  src: url('../font/fontello.eot?97249729#iefix') format('embedded-opentype'),
       url('../font/fontello.woff?97249729') format('woff'),
       url('../font/fontello.ttf?97249729') format('truetype'),
       url('../font/fontello.svg?97249729#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?97249729#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-bitbucket-squared:before { content: '\e800'; } /* '' */
.icon-cancel-circled:before { content: '\e801'; } /* '' */
.icon-left-small:before { content: '\e802'; } /* '' */
.icon-right-small:before { content: '\e803'; } /* '' */
.icon-behance-squared:before { content: '\e804'; } /* '' */
.icon-codeopen:before { content: '\e805'; } /* '' */
.icon-github-squared:before { content: '\e806'; } /* '' */
.icon-th-large-outline:before { content: '\e807'; } /* '' */
.icon-delicious:before { content: '\e808'; } /* '' */
.icon-deviantart:before { content: '\e809'; } /* '' */
.icon-dribbble:before { content: '\e80a'; } /* '' */
.icon-facebook-squared:before { content: '\e80b'; } /* '' */
.icon-flickr:before { content: '\e80c'; } /* '' */
.icon-foursquare:before { content: '\e80d'; } /* '' */
.icon-tumblr-squared:before { content: '\e80e'; } /* '' */
.icon-gplus:before { content: '\e80f'; } /* '' */
.icon-instagramm:before { content: '\e810'; } /* '' */
.icon-lastfm:before { content: '\e811'; } /* '' */
.icon-linkedin-squared:before { content: '\e812'; } /* '' */
.icon-twitter-squared:before { content: '\e813'; } /* '' */
.icon-pinterest-circled:before { content: '\e814'; } /* '' */
.icon-stackoverflow:before { content: '\e817'; } /* '' */
.icon-stackexchange:before { content: '\e818'; } /* '' */
.icon-spotify:before { content: '\e819'; } /* '' */
.icon-soundcloud:before { content: '\e81a'; } /* '' */
.icon-slideshare:before { content: '\e81b'; } /* '' */
.icon-slack:before { content: '\e81c'; } /* '' */
.icon-vimeo-squared:before { content: '\e820'; } /* '' */
.icon-vine:before { content: '\e821'; } /* '' */
.icon-vkontakte:before { content: '\e822'; } /* '' */
.icon-wordpress:before { content: '\e823'; } /* '' */
.icon-youtube-play:before { content: '\e825'; } /* '' */